<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=375, initial-scale=1, maximum-scale=1">
<!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="wrap">
		<div class="sections">
			<section class="offer section">
				@import "header.html"
				<div class="container">
					<div class="content">
						<h1 class="title">Смотрите ТВ <br>
							и кино без рекламы<br>
							в единой подписке</h1>
						<p class="text-16">Популярные телеканалы и огромная <br> библиотека фильмов, сериалов, <br> мультфильмов, трансляций в единой <br> подписке.</p>

					</div>
				</div>
				<button id="moveTo" class="offer__down">
					<img src="img/arrow-down.svg" alt="arrow down" class="offer__down-icon">
				</button>
			</section>
			<section id="second" class="second section">
				<div class="container">
					<div class="content second__content">
						<h2 class="title2">Управление ТВ-эфиром</h2>
						<p class="text-16">ТВ-пауза, перемотка, архив  <br>
							телепередач до 14 дней</p>
						<div class="second__desktop">
							<div class="second__desktop-item">
								<img src="img/img_2.jpg" alt="img" class="second__desktop-img">
							</div>
						</div>

					</div>

				</div>
			</section>
			<section class="third section">
				<div class="container">
					<div class="content">
						<div class="third-padding">
							<h2 class="title2">Смотрите фильмы <br>
								без интернета</h2>
							<p class="text-16">Загрузка фильмов и сериалов  <br>
								на ваше устройство.</p>
						</div>
						<div class="third__mobile">
							<img src="img/img_3.png" alt="img" class="third__mobile-img">
						</div>
					</div>
				</div>
			</section>
			<section class="fourth section">
				<div class="container">
					<div class="content fourth__content">
						<div class="fourth__content-item">
							<p class="text-16 fourth-text">Подписка</p>
							<h2 class="title2 fourth-title2">Легкая</h2>
						</div>
						<div class="fourth__content-item">
							<h2 class="title3">120+ каналов	</h2>
							<p class="text-16 fourth-text">Смотрите рейтинговые <br> национальные каналы, фильмовые <br> каналы MEGOGO, а так же 8000 <br> фильмов по подписке</p>
						</div>
						<div class="fourth__content-item">
							<h2 class="title2 fourth-title2">от 40 грн/мес</h2>
							<a href="#" class="btn">подключить</a>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>

				</div>
			</section>
			<section class="fifth section">
				<div class="container">
					<div class="content ">
						<div class="fifth__content-item">
							<p class="text-16 fourth-text">Подписка</p>
							<h2 class="title2 fourth-title2">Оптимальная</h2>
						</div>
						<div class="fifth__content-item">
							<h2 class="title3">10000 фильмов <br>
								и 160+ каналов	</h2>
							<p class="text-16 fourth-text">Голливудская классика и свежие <br> кино-новинки по подписке, прямые <br> футбольные трансляции и более <span class="nowrap"> 160 каналов</span></p>
						</div>
						<div class="fifth__content-item">
							<h2 class="title2 fourth-title2">от 1 грн</h2>
							<a href="#" class="btn">попробовать</a>
							<p class="stock">
								Первые 14 дней за 1 грн, <br>
								далее — 97 грн/мес.
							</p>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>

				</div>
			</section>
			<section class="sixth section">
				<div class="container">
					<div class="content ">
						<div class="fifth__content-item">
							<p class="text-16 fourth-text">Подписка</p>
							<h2 class="title2 fourth-title2">Максимальная</h2>
						</div>
						<div class="fifth__content-item">
							<h2 class="title3">ТВ, кино, <br> культовые <br> сериалы НВО</h2>
							<p class="text-16 fourth-text">
								Пакет АМЕДИАТЕКА с лучшими <br> сериалами планеты: Игра <br> престолов, Чернобыль, Мир Дикого <br> Запада. Более 200 каналов, в том <br> числе премиум, а также 10000 <br> фильмов по подписке.</p>
						</div>
						<div class="fifth__content-item">
							<h2 class="title2 fourth-title2">от 47 грн</h2>
							<a href="#" class="btn">попробовать</a>
							<p class="stock">
								Первые 14 дней за 47 грн, <br> далее — 197 грн/мес.
							</p>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>

				</div>
			</section>
			<section class="seventh section">
				<div class="container">
					<div class="content">
						<div>
							<h2 class="title2">На всех ваших <br> устройствах</h2>
							<p class="text-16">Подключайте до 5 устройств к вашему профилю</p>
						</div>
						<div class="seventh__gadgets">
							<div class="seventh__desktop">
								<img src="img/img_2.jpg" alt="desktop img" class="seventh__desktop-img">
							</div>
							<div class="seventh__laptop">
								<img src="img/img_2.jpg" alt="laptop img" class="seventh__laptop-img">
							</div>
							<div class="seventh__mobile">
								<img src="img/img_2.1.jpg" alt="mobile img" class="seventh__laptop-img">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="eight section">
				<div class="eight-container">
					<div class="content">
						<h2 class="title2 ">Подарки от партнеров <br>
							при каждом продлении подписки</h2>
						<p class="text-16">Сертификаты на скидки от WOG, Сушия, Антошка, Ева и др.</p>
					</div>
					<div class="eight__gifts">
						<img src="img/img_6.png" alt="img" class="eight__gifts-img">
					</div>
				</div>
			</section>
			<section class="ninth section">
				<div class="container">
					<div class="content">
						<h2 class="title2 ">Подключите подписку <br>
							за 1 грн и получайте:</h2>
						<div class="ninth-row">
							<div class="ninth__item">
								<p class="ninth__item-text">
									ТВ-архив
									<span class="ninth__item-span">телепередач <br>
									до 14 дней</span>
								</p>
							</div>
							<div class="ninth__item">
								<p class="ninth__item-text">
									Full HD
									<span class="ninth__item-span">
									качество только <br>
									по подписке</span>
								</p>
							</div>
							<div class="ninth__item">
								<p class="ninth__item-text">
									10% скидка
									<span class="ninth__item-span">
									на премьеры</span>
								</p>
							</div>
							<div class="ninth__item">
								<p class="ninth__item-text">
									5 устройств
									<span class="ninth__item-span">
									в одной подписке</span>
								</p>
							</div>
							<div class="ninth__item">
								<p class="ninth__item-text">
									Без рекламы
									<span class="ninth__item-span">
									на всех фильмах <br>
									и мультфильмах</span>
								</p>
							</div>
						</div>
						<a href="#" class="btn">Подключить</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
